@{
    ViewBag.Title = "Buy";
}

<h2>Покупка</h2>

@if (ViewBag.Success)
{
    <h3>Билет успешно куплен</h3>
    <h4>Номер вашего билета: @ViewBag.TicketId</h4>
}
else
{
    <h3>Ошибка при покупке билета.  </h3>
    <h4>Похоже что все билеты этого типа закончились.</h4>
}