@using Reinforced.Lattice.CellTemplating
@using Reinforced.Lattice.Configuration
@using Reinforced.Lattice.Mvc
@using Reinforced.Lattice.Templates
@model Nsu.Belov.TrainsDatabase.Web.Models.SelectTicketViewModel
@{
    ViewBag.Title = "SelectTicket";
    var conf = Model.Configurator;
    conf.AddUiColumn<string>("Время в пути").ClientExpression("getDuration({DepartureTime},{ArrivalTime})");
    conf.Column(x => x.DepartureTime).Format("`parseDateTime({#});`");
    conf.Column(x => x.ArrivalTime).Format("`parseDateTime({#});`");
}

<h2>BuyTicket</h2>
<script>
    var getDuration = function (from, to) {
        var x = moment(from);
        var y = moment(to);
        return moment.duration(x.diff(y)).locale("ru").humanize();
    }
</script>
<div id="table"></div>

@section scripts {
@*    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>*@
   
    @* Render our templates *@
    @{ Html.RenderTemplates("lt", "Lattice_Templates_Bootstrap"); }

    @* Instantiate our table and put it to JS window.$$table variable *@
    @Model.Configurator.InitializationScript("table", "window.$$table")
}
