@using Reinforced.Lattice.Configuration
@using Reinforced.Lattice.Editing.Editors.PlainText
@using Reinforced.Lattice.Editing.Form
@using Reinforced.Lattice.Mvc
@using Reinforced.Lattice.Plugins.Ordering
@using Reinforced.Lattice.Plugins.Toolbar
@using Reinforced.Lattice.Templates
@model Nsu.Belov.TrainsDatabase.Web.Models.CrudViewModels.TrainViewModel


@{
    ViewBag.Title = "Поезда";
    var conf = Model.Configurator;
    conf.EditingForm(f =>
    {
        f.EditPlainText(x => x.TrainId);
        f.EditPlainText(x => x.FirstClassCapacity);
        f.EditPlainText(x => x.SecondClassCapacity);
        f.RenderTo("#ltcModal");
    }, c => c.Event("click").Selector("._beginEdit"));
    conf.Toolbar("toolbar-rt", x => { x.AddSimpleButton("Add new").AddNewByForm(); });
    conf.AddUiColumn<string>("Actions")
        .Razor(@<div>
    <button class="btn btn-xs btn-warning _beginEdit">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button class="btn btn-xs btn-danger _remove">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>)
.SubscribeCellEvent(x => x.Command("click", "Remove").Selector("._remove"));
    conf.Column(x => x.TrainId).Orderable(x => x.TrainId, ui => ui.UseClientOrdering());
}

<div id="table"></div>

@section scripts {
    @{ Html.RenderPartial("DeleteTemplate"); }
    @* Render our templates *@
    @{ Html.RenderTemplates("lt", "Lattice_Templates_Bootstrap"); }

    @* Instantiate our table and put it to JS window.$$table variable *@
    @Model.Configurator.InitializationScript("table", "window.$$table")
}