@{ ViewBag.Title = "Станции"; }


@using Reinforced.Lattice.Mvc
@using Reinforced.Lattice.Templates
@model Nsu.Belov.TrainsDatabase.Web.Models.TablesRows.StationViewModel

<div id="table"></div>

@section scripts {
    @* Render our templates *@
    @{ Html.RenderTemplates("lt", "Lattice_Templates_Bootstrap"); }

    @* Instantiate our table and put it to JS window.$$table variable *@
    @Model.Table.InitializationScript("table", "window.$$table")
}