@using Nsu.Belov.TrainsDatabase.Web.Models
@using Reinforced.Lattice.Commands
@using Reinforced.Lattice.Configuration
@using Reinforced.Lattice.Editing.Editors.PlainText
@using Reinforced.Lattice.Editing.Editors.SelectList
@using Reinforced.Lattice.Editing.Form
@using Reinforced.Lattice.Mvc
@using Reinforced.Lattice.Plugins.Toolbar
@using Reinforced.Lattice.Templates
@model RoutePointViewModel

@{
    ViewBag.Title = "RoutePoints";
    var conf = Model.Configurator;

    if (User.IsInRole("operator"))
    {
        conf.Toolbar("toolbar-rt", x => { x.AddSimpleButton("Add new").AddNewByForm(); });
        conf.EditingForm(f =>
        {
            f.EditSelectList(x => x.StationName).Items(Model.SationsNames);
            f.RenderTo("#ltcModal");
        }, c => c.Event("click").Selector("._beginEdit"));

        conf.Column(x => x.RouteId).DataOnly();
        conf.Column(x => x.StationOrder).Title("Порядковый номер станции в маршруте");
        conf.Column(x => x.StationName).Title("Название станции");
        conf.AddUiColumn<string>("Действия")
    .Razor(@<div>
                       <button class="btn btn-xs btn-warning _beginEdit">
                           <span class="glyphicon glyphicon-pencil"></span>
                       </button>
                       <button class="btn btn-xs btn-danger _remove">
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                   </div>)
            .SubscribeCellEvent(x => x.Command("click", "Remove").Selector("._remove"));
        conf.Command("Remove", x => x.ConfigureRemoval());
    }
}

<h2>Станции маршрута</h2>

<div id="table"></div>

@section scripts {
    @{ Html.RenderPartial("DeleteTemplate"); }
    @* Render our templates *@
    @{ Html.RenderTemplates("lt", "Lattice_Templates_Bootstrap"); }

    @* Instantiate our table and put it to JS window.$$table variable *@
    @Model.Configurator.InitializationScript("table", "window.$$table")
}